.block {
	width: 20px;
	height: 70px;
	float: left;
	margin-left: 20px;
}



.block span {
	float: left;
	clear: both;
	height: 30px;
	line-height: 27px;
	width: 20px;
	text-align: center;
	font-size: 20px;

}