

ul.list {
	list-style-type: none;
	float: left;
	margin-top: 10px;
	
	width: 140px;
	padding: 0px;
	text-align: center;
	font-size: 20px;
}

ul li.item {
	border: 2px dotted #FFF;
}

ul li span{
	float: right;
	cursor: pointer;
	
}